/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');

* {
    font-family: Roboto, system-ui, -apple-system, sans-serif;
    box-sizing: border-box;
  }
  
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
    justify-content: space-between;
}
button {
    font-weight: bold;
    font-size: 18px;
    border-style: none;
    border-radius: 9px;
    padding: 10px 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    cursor: pointer;
    flex: 0 0 auto;
}
button.sign-up.alt {
    border: white;
    border-style: solid;
    border-width: 1px;
}

button.sign-up:hover{
    background-color: #2267d4;
}

button.sign-up.alt:hover{
    background-color: #2b79f7;
}

.sign-up {
    background-color: #3882F6;
    color: white;
}

.forehead {
    padding-top: 70px;
}

.evenforehead {
    padding-top: 100px;
}

.chin {
    padding-bottom: 100px;
}

.mainpadding-lr {
    padding-left: 20px;
    padding-right: 20px;
}

.subpadding-lr {
    padding-left: 100px;
    padding-right: 100px;
}

.darkbg {
    background-color: #1F2937;
    color: #F9FAF8;
}

.lightbg {
    background-color: white;
    color: #1F2937;
}


.fill {
    flex: 1;
}

.flex1 {
    flex: 1;
}

.main-width {
    width: 1090px;
}
/* TEXTUAL */

a {
    text-decoration: none;
}

.testimonial {
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    padding-left: 8%;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.cta-main {
    font-size: 24px;
    font-weight: bold;
}

.cta-sub {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.darkbg.sub {
    font-size: 18px;
    color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    flex: 0 1 auto;
    margin-bottom: -18px;
}

/* HEADER AND FOOTER CLASSES */

.header {
    display: flex;
    flex: 0 1 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header > ul {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
    gap: 15px;
}

.header > ul > li > a {
    font-size: 18px;
    color: #E5E7EB;
}

.footer {
    display: flex;
    padding: 20px 0px;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 18px;
}

/* CONTENT CLASSES */

.flex-container {
    display: flex;
    justify-content: center;
}

.split {
    display: flex;
    justify-content: center;
    flex: 0 1 auto;
}

.mainbox {
    flex: 1 0 250px;
    padding-right: 60px;
}

.large-placeholder {
    background-color: gray;
    flex: 1 0 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
}

.cta {
    padding: 30px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 9px;
    align-items: center;
}