@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    font-family: Roboto, system-ui, -apple-system, sans-serif;
    box-sizing: border-box;
  }
  
body {

}

.darkbg {
    background-color: #1F2937;
    color: white;
}

.lightbg {
    background-color: white;
    color: #1F2937;
}

